input #calculated{

    background-color: greenyellow;

}
h1{
    color: red;
}

input calculated{
    background-color: rgb(221, 226, 226);
}

p{
    color: rgb(241, 12, 12);
    box-sizing: border-box;
}