body{
    margin-top: 70px;
}

input #calculated{

    background-color: greenyellow;

}
h1{
    text-align: center;
    color: white;
    
}

h5{
     text-align: center;
    color: red;
    font-size: 10px;

}

input calculated{
    background-color: rgb(221, 226, 226);
}

p{
    color: rgb(16, 12, 241);
    box-sizing: border-box;
}
#submit{
    background-color: greenyellow;
}

#Calculated{
    background-color:greenyellow;
}

nav{
    background-color: rgb(16, 126, 16);
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    
}
label{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

