input #calculated{

    background-color: greenyellow;

}
h1{
    color: red;
}

input calculated{
    background-color: rgb(221, 226, 226);
}

p{
    color: rgb(16, 12, 241);
    box-sizing: border-box;
}
#submit{
    background-color: greenyellow;
}

#Calculated{
    background-color:greenyellow;
}

